html {
    background-color: #fff;
    color: #000;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

#tutorials {
	padding: 5px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.uncompletedStep {
	height:20px;
	background-color: #B5BD21;
	/*border: 1px solid #444444;*/
	float: left;
}
.completedStep {
	height:20px;
	background-color: #E9AA22;
	/*border: 1px solid #444444;*/
	float: left;
}
#logo {
	width: 278px;
	height: 79px;
	padding-bottom:15px;
	border-bottom: 1px solid;
	border-bottom-color: #A4A4A4;
	/*
	background-color: #64A2C8;
	box-shadow: 0px 5px 1px #888888;*/
}
.button {
	font-size: 20px;
	padding: 20px;	
	cursor: pointer;
}
.selected {
	background-color: #FFF;
	font-weight: bold;
}
.completed { 
	text-decoration: line-through;
}
.button:hover {
	background-color: #DB5320;
}